@media screen and (max-width: 600px) {
    .header {
        .right-header {
            padding-right: 0rem !important;
            padding-left: 0rem !important;
            padding-top: 2rem !important;
        }
        .left-header {
            padding-left: 0rem !important;
            padding-right: 0rem !important;
            .h-shape {
                clip-path: polygon(70% 0, 90% 50%, 70% 100%, 0 100%, 0 0) !important;
                //https://bennettfeely.com/clippy/
            }
        }
        .right-header .name {
            font-size: 2rem !important;
        }
    }
    .about-container {
        grid-template-columns: 1fr;
        .right-about {
            grid-template-columns: 1fr;
        }
    }
    .header-content {
        padding-bottom: 4rem;
    }
    .timeline {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .about-stats {
        .progress-bars {
            grid-template-columns: 1fr;
        }
    }
    .portfolios {
        grid-template-columns: 1fr !important;
        padding-bottom: 6rem;
    }
    .blogs {
        grid-template-columns: 1fr !important;
        padding-bottom: 6rem;
    }
    .contact-content-con {
        flex-direction: column;
        .right-contact {
            margin-left: 0 !important;
            margin-top: 2.5rem;
        }
    }
    .input-control-2 {
        flex-direction: column;
    }
    .input-control-2 :last-child {
        margin-left: 0 !important;
        margin-top: 1.5rem;
    }
    .main-title {
        h2 {
            font-size: 2rem;
            span {
                font-size: 2.5rem;
            }
            .bg-text {
                font-size: 3rem;
            }
        }
    }
    .controls {
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control {
            margin: 1rem .3rem;
        }
    }
    .theme-btn {
        width: 30px !important;
        height: 30px !important;
        i {
            font-size: 1.0rem !important;
        }
    }
    .main-content .section {
        padding-left: 2rem !important;
        padding-right: 4rem !important;
    }
    .main-content .sec1 {
        padding-right: 0rem !important;
    }
    .main-content .sec3 {
        padding-right: 2rem !important;
    }
    .main-content .sec4 {
        padding-right: 2rem !important;
    }
}

@media screen and (max-width: 1379px) {
    .section {
        padding-right: 9rem !important;
        padding-left: 9rem !important;
    }
    .right-header {
        padding-right: 0rem !important;
    }
    .sec1 {
        padding-left: 0rem !important;
    }
    .sec2 {
        padding-right: 7rem !important;
    }
    .header-content {
        padding-right: 0rem;
    }
    .portfolios {
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-content-con .left-contact .contact-info .contact-item {
        display: grid !important;
        grid-template-columns: 1fr !important;
        p {
            padding-left: 2rem !important;
        }
    }
}

@media screen and (max-width: 1099px) {
    .section {
        padding-right: 4rem !important;
        padding-left: 4rem !important;
    }
    .right-header {
        padding-right: 4rem !important;
    }
    .about-container {
        grid-template-columns: 1fr;
        .right-about {
            //padding-top: 2.5rem;
        }
        .left-about {
            p {
                padding: 0;
            }
        }
    }
    .main-title {
        h2 {
            font-size: 4rem;
            span {
                font-size: 4rem;
            }
            .bg-text {
                font-size: 5rem;
            }
        }
    }
    .sec1 {
        padding-left: 0rem !important;
    }
    .sec2 {
        padding-right: 7rem !important;
    }
    .sec3 {
        padding-right: 7rem !important;
    }
    .sec4 {
        padding-right: 7rem !important;
    }
    .sec5 {
        padding-right: 7rem !important;
    }
}

@media screen and (max-width: 900px) {
    header {
        padding: 0;
        .right-header {
            padding: 0rem !important;
            grid-row: 1;
            width: 90%;
            .name {
                font-size: 2.5rem !important;
            }
        }
        .left-header {
            margin-top: 1rem;
            .h-shape {
                clip-path: polygon(70% 0, 85% 50%, 70% 100%, 0 100%, 0 0) !important;
                //https://bennettfeely.com/clippy/
            }
            .image {
                height: 100% !important;
                margin: 0 auto;
                //width: 90%;
            }
        }
    }
    .theme-btn {
        width: 50px;
        height: 50px;
        i {
            font-size: 1.4rem;
        }
    }
    .header-content {
        grid-template-columns: 1fr;
    }
    .right-header {
        padding-right: 5rem !important;
    }
    .about-container {
        grid-template-columns: 1fr;
    }
    .portfolios {
        grid-template-columns: 1fr;
    }
    .blogs {
        grid-template-columns: 1fr;
    }
    .main-title {
        h2 {
            font-size: 3rem;
            span {
                font-size: 3rem;
            }
            .bg-text {
                font-size: 3.5rem;
            }
        }
    }
    .sec1 {
        padding-left: 2rem !important;
    }
    .contact-content-con .left-contact .contact-info .contact-item {
        //justify-content: parent;
    }
}

@media screen and (max-width: 300px) {
    #portfolio>div.portfolios>div.portfolio-item .hover-items {
        h3 {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        .icons {
            .icon {
                width: 40px; //width and height must be the same!
                height: 40px;
                margin: 0 0.5rem;
                i {
                    font-size: 1rem;
                }
            }
        }
    }
}